<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <!-- CONTEXT PARAMS -->
    <!-- project stage [ Development|Testing|Production] -->
    <context-param>
        <description>Define the value returned by Application.getProjectStage(). Allowed values: Production, Development,
            UnitTest, SystemTest, Extension. Default value is Production.</description>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <!-- skip facelets comments -->
    <context-param>
        <description>Do not render comments in facelets (xhtml) pages. Default is false</description>
        <param-name>facelets.SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <!-- /CONTEXT PARAMS -->


    <!-- SERVELET PARA JSF and MAPPING  -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <!-- /SERVELET PARA JSF and MAPPING  -->


    <!-- SESSION CONFIG -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- /SESSION CONFIG -->


    <!-- WELCOME FILE LIST -->
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <!-- /WELCOME FILE LIST -->


    <!-- SPRING -->
    <!-- Spring Context Configuration' s Path definition -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring/application-context.xml
        </param-value>
    </context-param>

    <!-- The Bootstrap listener to start up and shut down Spring's root WebApplicationContext. It is registered to Servlet Container -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>

</web-app>
